body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    /* transition: background 0.3s, color 0.3s; */
 } 

h2 {
    text-align: center;
}

.controls {
    text-align: center;
    margin-bottom: 20px;
}

input,
select,
button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}



#weatherContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}


.weather-card {
    background-color:rgb(254, 245, 210);
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.weather-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}


.weather-card h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}


.weather-card p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}


.weather-card p:first-child {
    font-size: 24px;
    font-weight: bold;
    color: #FF6347;
    
}


.weather-card p:nth-child(2) {
    font-style: italic;
    color: #3e8e41;
    
}


.weather-card p:nth-child(3),
.weather-card p:nth-child(4) {
    color: #666;
}




/* 
.dark-mode button {
    background-color: #555;
}  */


